
.logo-page {
  width: 90px;
  height: 90px;
  margin-top: 20px;
  margin-bottom: -40px;
  border-radius: 50%;
  display: inline-block;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}

.icon-img{
  width: 40px;
  height: 40px;
}

.header{
  position: sticky;
  top: 0px;
}

.nav-ul {
  padding: 5px;
  margin: 0px;
  height: 70px;
  text-align: right;
  background: linear-gradient(to right,#8dbad1, #948542);
}
.nav-ul li{
  display:  inline-block;
  padding: 10px;
  margin-top: 10px;
}
.nav-ul li a {
  color:black;
  font-weight: bold;;
  text-decoration: none;
  padding: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right,#8dbad1, #948542);
  width: 100%;
  text-align: center;
}


/* .App
{
  background: linear-gradient(to right,#8dbad1, #948542);
} */


.input-text {
  width: 400px;
  height: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.cancel-btn{
  width: 100px;
  height: 50px;
  border-radius: 20px;
  box-shadow: #282c34;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.save-btn{
    width: 150px;
    height: 60px;
    border-radius: 20px;
    box-shadow: #282c34;
    background: linear-gradient(to right,#8dbad1, #948542);
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: px;
}


.update-btn{
  width: 150px;
  height: 60px;
  border-radius: 22px;
  box-shadow: #282c34;
  background: linear-gradient(to right,#8dbad1, #948542);
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: px;
}












.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
